<div xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard
                    <small>@phuc</small>
                </h1>
            </div>
        </div>
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner"/>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info"
                                data-toggle="modal" data-target="#myModal">Add new User</button>
                    </div>
                </div>

            </div>
        </div>


        <!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new User</h4>
      </div>

        <form name="myForm">
            <label>
               User name:
               <input type="text" name="user" ng-model="tem_user" required>
            </label>
            <div role="alert">
              <span class="error" ng-show="myForm.user.$error.required">
               Required!</span>
            </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addUser(tem_user)">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


        <div class="row">
            <div ng-repeat="u in users" class="list-address col-md-3">
                {{ u }}
            </div>
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                index
                            </th>
                            <th>
                                name
                            </th>
                            <th>
                                speed
                            </th>
                            <th>
                                time connected
                            </th>
                            <th>
                                enabled xnsub
                            </th>
                            <th>
                                difficult
                            </th>
                            <th>
                                location
                            </th>
                            <th>
                                unknown
                            </th>
                            <th>
                                Last updated
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="worker in workers track by $index" class="active">
                            <td>
                                {{ $index }}
                            </td>
                            <td>
                                {{ worker['name'] }}
                            </td>
                            <td>
                                {{ worker['a_speed'] }}
                            </td>
                            <td>
                                {{ worker['time_connected'] }}
                            </td>
                            <td>
                                {{ worker['enabled_xnsub'] }}
                            </td>
                            <td>
                                {{ worker['difficult'] }}
                            </td>
                            <td>
                                {{ worker['location'] }}
                            </td>
                            <td>
                                {{ worker['unknown'] }}
                            </td>
                            <td>
                                {{ worker['updated_at'] | date:'yyyy-MM-dd HH:mm:ss Z'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>